body {
    font-family: sans-serif;
    padding: 20px;
    background: #f9f9f9;
  }
  
  h1 {
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 横に4列 */
    grid-auto-rows: auto; /* 高さは自動で */
    gap: 20px;
    padding: 20px;
  }
  
  .block {
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
  }
  
  
  .block h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .block ul {
    list-style: none;
    padding: 0;
  }

  #loading-msg {
    font-weight: bold;
    color: #555;
    text-align: center;
  }
  
  .center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 1.2rem;
    color: #444;
  }